<html ng-app="scramblerApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="js/login.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

		<script>
			var socket = io();
			socket.on('loginMsg',function(m){
				switch(m.type){
					case "add":
						$('#nNotifyArea').html(m.msg);
						setTimeout(function() {
							$('#nNotifyArea').html("");
						}, 3000);
					 	break;
				 	case "login":
						$('#rNotifyArea').html(m.msg);
						setTimeout(function() {
							$('#rNotifyArea').html("");
						}, 3000);
						break;
				}q
			});
		</script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1>HEADER</h1>
				</div>
			</div>
		</div>
		<div ng-controller="launchController">
			<div class="container-fluid" ng-show="loginView">
				<div class="row">
					<div class="col-md-6">
						<h1>{{newTitle}}</h1>
						<input type="text" ng-model="nLogin" placeholder="username"></input>
						<input type="password" ng-model="nPassword" placeholder="password"></input>
						<button ng-click="login('N')">Register</button>
						<div id="nNotifyArea">{{nNotifyArea}}</div>
					</div>
					<div class="col-md-6">
						<h1>{{returnTitle}}</h1>
						<input type="text" ng-model="rLogin" placeholder="username"></input>
						<input type="password" ng-model="rPassword" placeholder="password"></input>
						<button ng-click="login('R')">Login</button>
						<div id="rNotifyArea">{{rNotifyArea}}</div>
					</div>
				</div>
			</div>
			<div class="container-fluid" ng-show="launchView">
				<div class="row">
					<div class="col-md-6">
						<h1>Start Game</h1>
						<button ng-click="login('N')">Start</button>
					</div>
					<div class="col-md-6">
						<h1>Join Game</h1>
						<input type="text" placeholder="game id"></input>
						<button>Join</button>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>